
.Rapp.history

.Rhistory
.Rproj.user

proj_ranges.Rproj

#*.RData
#*.rdata

#*.gz
*.nc
#*.csv
*.txt
#*.xls
*.tar
#*.pdf
#*.docx


avhrr-only-v2.19890101


#ignore all cmsp data files for now
cmsp_data/*

# ignore all "data" files (also on https://github.com/mpinsky/proj_ranges)
#data/*
