
.Rapp.history

.Rhistory
.Rproj.user

proj_ranges.Rproj

*.RData
*.rdata
*.Rdata

*.gz
*.nc
*.csv
*.txt
*.xls
*.tar
*.pdf
*.docx
*.png
*.Rout

avhrr-only-v2.19890101


#ignore all cmsp data files for now
cmsp_data/*

# ignore all "data" files (also on https://github.com/mpinsky/proj_ranges)
output/*
data/*
data/sbt_rcp85/*
data/sbt_rcp26/*
data/sst_rcp85/*
data/sst_rcp26/*
