*.gz
*.nc
*.txt
*.xls
*.tar
*.pdf
*.docx
*.png
*.Rout
.Rapp.history
.Rhistory
.Rproj.user
proj_ranges.Rproj
*.gz
*.nc
*.txt
*.xls
*.tar
*.pdf
*.docx
*.png
*.Rout
avhrr-only-v2.19890101
#ignore all cmsp data files for now
cmsp_data/*
# ignore all "data" files (also on https://github.com/mpinsky/proj_ranges)
output/*
data/sbt_rcp85/*
data/sbt_rcp26/*
data/sst_rcp85/*
data/sst_rcp26/*
*.Rout
*.Rout
6_model_fitting_loop_update_PART2.Rout
*.Rout
*.pdf
output/warnings_nonstationarity_projection2_1960+1970.csv
output/warnings_nonstationarity_projection2_1960+1970.csv
README.Rmd
jims_projections.Rproj
